.playlist {
    display: flex;
    flex-direction: column;
    // width: clamp(450px, 35vw, 600px);
    // width: 50%;
    // height: 60%;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;

    background: rgba(30, 30, 30, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;

    h1 {
        margin: 0;
        font-size: 24px;
    }
}

#upload {
    background-color: transparent;
    border: 1px solid transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;

    &:hover {
        border: 1px solid #2be96c;
        border-radius: 30px;
        color: #2be96c;
    }
}

#search {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    text-indent: 10px;
    color: #ffffff;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    &:focus {
        outline: none;
    }

    outline: none;
    box-sizing: border-box;
    flex-shrink: 0;
}
