.card {
    display: grid;
    align-items: center;
    padding: 5px;
    gap: 10px;
    // grid-template-columns: 0.3fr 0.3fr 3.5fr 1.5fr 0.5fr 0.3fr;
    grid-template-columns: repeat(6, auto);
}

.card img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titles {
    display: flex;
    height: 30px;
    color: #ffffff;
    justify-self: flex-start;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    &:hover {
        color: #2be96c;
    }
}

.text-container {
    align-items: center;
}


#trackName {
    width: 10vw;
}

#trackArtist {
    width: 5vw;
}

.marquee {
    --gap: 20px;
    position: relative;
    display: flex;
    align-items: center;

    .text-container {
        display: inline-block;
        white-space: nowrap;
        animation: scroll var(--duration, 10s) linear infinite;
        padding-right: var(--gap);
        will-change: transform;
    }

    .text-original,
    .text-copy {
        display: inline-block;
    }

    .text-copy {
        position: absolute;
        left: 100%;
        padding-left: var(--gap);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

#timer {
    color: #ffffff;
}

.playIcon {
    display: flex;
    width: 25px;
    height: 25px;
    background: url("/icons/play.svg") no-repeat center center;
    cursor: pointer;

    &:hover {
        background: url("/icons/play(green).svg") no-repeat center center;
    }
}

.deleteIcon {
    display: flex;
    width: 25px;
    height: 25px;
    background: url("/icons/trash(white).svg") no-repeat center center;
    cursor: pointer;

    &:hover {
        background: url("/icons/trash(red).svg") no-repeat center center;
    }
}
