.container {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    // Кастомный скроллбар
    &::-webkit-scrollbar {
        width: 0;
    }
}

.error {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    text-align: center;
}
