.contentWrapper {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 20px;

    display: grid;
    row-gap: 5vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 65%;
    // grid-template-rows: 32.5vh 50vh;

    justify-content: space-between;
    margin: 20px;
    // margin-top: 20px;
    padding: 10px;
    // width: 97%;
    width: calc(100% - 1vw);
    height: calc(100% - 6vh);

    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 0 1vw;
    grid-column: 1 / span 2;
}